body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F4F7FB;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 43.75rem;
  margin: 5rem auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px #00000014;
}

h1 {
  color: #1D3557;
}

p {
  color: #444;
  line-height: 1.6;
}