<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Controle Financeiro Pessoal{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-content">
            <a href="{{ url_for('home') }}" class="brand">
                <div class="brand-logo">F</div>
                <div class="brand-text">
                    <span class="brand-name">FluxaMoney</span>
                </div>
            </a>

            {% if session.get("user_id") %}

            <div class="user-menu">
                <button class="user-trigger">
                    <div class="user-avatar">
                        {{ session.get("user_name")[0] }}
                    </div>

                    <span class="user-name">
                        Olá, {{ session.get("user_name") }}
                    </span>
                    <span class="arrow">▾</span> 
                </button>

                <div class="dropdown">
                    <a href="{{ url_for('profile') }}">Meu Perfil</a>
                    <a href="{{ url_for('home') }}">Dashboard</a>
                    <a href="{{ url_for('add_transaction') }}">Nova transação</a>
                    <a href="{{ url_for('logout') }}">Sair</a>
                </div>
            </div>
            {% else %}
            <div class="auth-links">
                <a href="{{ url_for('login') }}">Entrar</a>
                <a href="{{ url_for('register') }}" class="btn-primary">Criar conta</a>
            </div>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>