<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Controle Financeiro</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Controle Financeiro Pessoal</h1>
    <p>Bem-Vindo ao seu sistema de finanças!</p>
    <p>Aqui você poderá registrar entradas e saídas de dinheiro.</p>

    <p><a href="{{ url_for('add_transaction') }}">Adicionar nova transação</a></p>
  </div>
</body>
</html>